<!doctype html>
<html lang="en">

<head>
    <title>PawBook</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        #editMascotas {
            color: black;
            text-align: center;
            width: 80vw;
            border: 1px solid black;
            padding: 10px;
            margin: 10px;
            background-color: #B5DFEC;

        }

        .display {
            display: inline;
            font-family: monospace;
            margin: auto;
            left: auto;
        }

        .iconCard {
            transition-duration: 1.5s;
            transition-timing-function: ease-in-out;
            transition-property: all;
        }

        .iconCard:hover {
            transform: rotate(360deg);
        }

        .iconSearch {
            animation: skew 2s infinite;
            transform: skew(20deg);
        }

        @keyframes skew {
            0% {
                transform: skewX(20deg);
            }

            100% {
                transform: skewX(-20deg);
            }
        }

        .button5 {
            border-radius: 50%;
            background-color: lightblue;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .button5:hover {
            background-color: cadetblue;
        }

        .card {
            margin: 10px;
            width: fit-content;
        }

        #searchButton {
            width: 300px;

        }

        .cardsMascotas {
            text-align: center;
        }
        .send{
            width: 40px;
            animation: skew 1.5s infinite;
            transform: skew(20deg);
        }
        @keyframes skew {
            0% {transform: skewX(10deg);}
            50% {transform: skewX(30deg);}
            100% {transform: skewX(-10deg);}
        }
        .modal-title{
            text-align: center;
            margin-left: 100px;
        }
        #mascotaAñadida{
            top: 40%;
            text-align: center;
        }
        .paw-icon{
            width: 30px;
            padding: 5px;
        }
        .radio-inline{
            padding: 2px;
        }
        #mascotaEliminada{
            top: 40%;
        }
    </style>
</head>

<body style="background-image: url(https://thumbs.dreamstime.com/b/polca-dot-paws-background-de-paw-white-silver-metallic-foil-del-perro-66964941.jpg);">

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="navbar">
            <a class="navbar-brand" href="/home">PawBook
                <span class="sr-only">(current)</span>
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">
                            Mascotas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pet">Rescatistas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-people"></i>Perfil</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#login">Ingresar</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#registro">Registarse</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div id="editMascotas">
                    <br>
                    <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;">
                        <img src="" width="50px" class="iconSearch">
                        MASCOTAS<br></h1>
                    <br>
                    <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#modalAñadir">Añadir mascota</button>
                    <button type="button" class="btn btn-info btn-lg btn-block" onclick = "editPets()">Editar mascotas</button>
                </div>
        </div>

        <div id="cardsMascotas">
        </div>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
            <br><br>
        </div>
    </div>


        <!-- Modal-->
        <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ingresar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
    
                    <div class="modal-body">
                        <form>
                            <div class="container-fluid">
                                <div class="form-group">
                                    <label for="">Correo</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                            <img src="https://cdns.iconmonstr.com/wp-content/assets/preview/2012/240/iconmonstr-pencil-14.png" style="width: 25px;">
                                            </span>
                                        </div>
                                        <input type="text" class="col-10 form-control" name="" id="correoLogin" aria-describedby="helpId"
                                            placeholder="Ingresa tu correo" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">
                                                <img src="https://www.kindpng.com/picc/m/475-4751731_key-password-hd-png-download.png" style="width: 25px;">
                                            </span>
                                        </div>
                                        <input type="password" class="col-10 form-control" name="" id="contrasenaLogin"
                                            aria-describedby="helpId" placeholder="Ingresa tu contraseña" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <button type="button" class="btn btn-success btn-block" data-dismiss="modal">Login</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%; text-align: right;">
                                            No tienes cuenta!
                                            <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#registro">
                                                Registrate aquí
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Registrar usuario</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" name="" id="nombre" class="form-control" placeholder="Nombre(s)"
                                        aria-describedby="helpId" required>
                                </div>
                                <div class="col-6">
                                    <input type="text" name="" id="apellidos" class="form-control" placeholder="Apellidos"
                                        aria-describedby="helpId" required>
                                </div>
                            </div>
    
                            <input type="mail" name="" id="correo" class="form-control mt-3" placeholder="Tu correo"
                                aria-describedby="helpId" required>
    
                            <input type="text" name="phone" id="phone" class="form-control mt-3" placeholder="Tu teléfono"
                                aria-describedby="helpId" required>
    
                            <input type="date" name="fecha" id="fechaRegistro" class="form-control mt-3" placeholder="Fecha Registro"
                                aria-describedby="helpId" required>
                            <input type="password" name="" id="contrasena" class="form-control mt-3" placeholder="Contraseña"
                                aria-describedby="helpId" required>
    
                            <input type="password" name="" id="confirmContrasena" class="form-control mt-3"
                                placeholder="Confirmar contraseña" aria-describedby="helpId" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required>
    
                            <button type="submit" class="btn btn-success btn-lg mt-3 btn-block">Registrarse</button>
    
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <!-- Modal -->
    <div class="modal fade" id="modalAñadir" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <img src="http://simpleicon.com/wp-content/uploads/pen-2.png" style="width: 25px;"> Datos Mascota</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body">
                    <form>
                        <div class="container-fluid">
                            <div class="form-group">
                                <label for="namePet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Nombre: </label>
                                <div class="input-group mb-3">
                                    <input type="text" class="col-10 form-control" name="namePet" id="namePet"
                                        aria-describedby="helpId" placeholder="Nombre mascota" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edadPet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">
                                Edad: <input type="number" class="col-10 form-control" name="edadPet" id="edadPet"
                                aria-describedby="helpId" placeholder="Edad mascota" required>
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="especiePet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Especie: </label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text" class="col-10 form-control" name="especiePet" id="especiePet"
                                        aria-describedby="helpId" placeholder="Perro" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sexPet" class="radio-inline">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Sexo: </label>
                                <div class="input-group mb-3">
                                    <label class="radio-inline">
                                        Macho <input type="radio" name="sexPet" value="M" checked></label>
                                    <label class="radio-inline">
                                    Hembra <input type="radio" name="sexPet" value="H"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="imagePet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Imagen: </label>
                                <div class="input-group mb-3">
                                    <input type="text" class="col-10 form-control" name="imagePet" id="imagePet"
                                        aria-describedby="helpId" placeholder="ImageUrl" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="razaPet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Raza: </label>
                                <div class="input-group mb-3">
                                    <input type="text" class="col-10 form-control" name="razaPet" id="razaPet"
                                        aria-describedby="helpId" placeholder="BullDog/Golden/..." required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sizePet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Tamaño: </label>
                                <div class="input-group mb-3">
                                    <label class="radio-inline">
                                        Chico <input type="radio" name="sizePet" value="Chico" checked></label>
                                    <label class="radio-inline">
                                    Mediano <input type="radio" name="sizePet" value="Mediano"></label>
                                    <label class="radio-inline">
                                        Grande <input type="radio" name="sizePet" value="Grande"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="vacunasPet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Vacunas: </label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text" class="col-10 form-control" name="vacunasPet" id="vacunasPet"
                                        aria-describedby="helpId" placeholder="Vacunas" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="desparasitadoPet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Desparasitado: </label>
                                <div class="input-group mb-3">
                                    <label class="radio-inline">
                                        Si <input type="radio" name="desparasitadoPet" value="Si" checked></label>
                                    <label class="radio-inline">
                                    No <input type="radio" name="desparasitadoPet" value="No"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="esterilizadoPet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Esterilizado: </label>
                                <div class="input-group mb-3">
                                    <label class="radio-inline" id="esterilizadoPet">
                                        Si <input type="radio" name="esterilizadoPet" value="Si" checked></label>
                                    <label class="radio-inline">
                                    No <input type="radio" name="esterilizadoPet" value="No"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="expedientePet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Expediente: </label>
                                <div class="input-group mb-3">
                                    <input type="file" class="col-10 form-control" name="expedientePet" id="expedientePet"
                                    accept=".doc,.docx,.pdf, .png, .jpg, .jpeg" aria-describedby="helpId" placeholder="Expediente.pdf" required>
                                </div>
                            </div>
                            <button type="button" onclick="readDataPet()" class="btn btn-success btn-lg mx-auto d-block" data-dismiss="modal">Añadir Mascota</button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <img src="http://simpleicon.com/wp-content/uploads/pen-2.png" style="width: 25px;"> Editar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body">
                    <form>
                        <div class="container-fluid">
                            <div class="form-group">
                                <label for="updatenamePet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Nombre: </label>
                                <div class="input-group mb-3">
                                    <input type="text" class="col-10 form-control" name="updatenamePet" id="updatenamePet"
                                        aria-describedby="helpId" placeholder="Nombre mascota" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="updateedadPet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">
                                Edad: <input type="number" class="col-10 form-control" name="updateedadPet" id="updateedadPet"
                                aria-describedby="helpId" placeholder="Edad mascota" required>
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="updateespeciePet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Especie: </label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text" class="col-10 form-control" name="updateespeciePet" id="updateespeciePet"
                                        aria-describedby="helpId" placeholder="Perro" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="updateimagePet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Imagen: </label>
                                <div class="input-group mb-3">
                                    <input type="text" class="col-10 form-control" name="updateimagePet" id="updateimagePet"
                                        aria-describedby="helpId" placeholder="ImageUrl" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="updatesizePet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Tamaño: </label>
                                <div class="input-group mb-3">
                                    <label class="radio-inline">
                                        Chico <input type="radio" name="updatesizePet" value="Chico" checked></label>
                                    <label class="radio-inline">
                                    Mediano <input type="radio" name="updatesizePet" value="Mediano"></label>
                                    <label class="radio-inline">
                                        Grande <input type="radio" name="updatesizePet" value="Grande"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="updatevacunasPet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Vacunas: </label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text" class="col-10 form-control" name="updatevacunasPet" id="updatevacunasPet"
                                        aria-describedby="helpId" placeholder="Vacunas" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="updatedesparasitadoPet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Desparasitado: </label>
                                <div class="input-group mb-3">
                                    <label class="radio-inline">
                                        Si <input type="radio" name="updatedesparasitadoPet" value="Si" checked></label>
                                    <label class="radio-inline">
                                    No <input type="radio" name="updatedesparasitadoPet" value="No"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="updateesterilizadoPet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Esterilizado: </label>
                                <div class="input-group mb-3">
                                    <label class="radio-inline" id="esterilizadoPet">
                                        Si <input type="radio" name="updateesterilizadoPet" value="Si" checked></label>
                                    <label class="radio-inline">
                                    No <input type="radio" name="updateesterilizadoPet" value="No"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="updateexpedientePet">
                                <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon">Expediente: </label>
                                <div class="input-group mb-3">
                                    <input type="text" class="col-10 form-control" name="updateexpedientePet" id="updateexpedientePet"
                                        aria-describedby="helpId" placeholder="Expediente.pdf" required>
                                </div>
                            </div>
                            <button type="button" onclick="updateDataPet()" class="btn btn-success btn-lg mx-auto d-block" data-dismiss="modal">Guardar</button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="mascotaAñadida" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtzx6vnu6B5YHC_OrgbQZrzvdS0v-dV5EFSA&usqp=CAU" class="send"> MASCOTA AÑADIDA
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtzx6vnu6B5YHC_OrgbQZrzvdS0v-dV5EFSA&usqp=CAU" class="send"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="warningDelete" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Antu_dialog-warning.svg/1200px-Antu_dialog-warning.svg.png" style="width: 100px;">
                    <img src="https://cdn-icons-png.flaticon.com/512/91/91527.png" style="width: 100px;"> 
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Antu_dialog-warning.svg/1200px-Antu_dialog-warning.svg.png" style="width: 100px;">
                    <hr>
                    ¿Seguro que deseas eliminarla?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="text-align: center;">
                    <button class="btn btn-success btn-md center-block" id="yesDelete" onclick="yesDelete()" data-dismiss="modal">
                        SI</button>
                        <button class="btn btn-danger btn-md center-block" id="noDelete" class="close" data-dismiss="modal" aria-label="Close">
                        NO</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="mascotaEliminada" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtzx6vnu6B5YHC_OrgbQZrzvdS0v-dV5EFSA&usqp=CAU" class="send"> MASCOTA ELIMINADA
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtzx6vnu6B5YHC_OrgbQZrzvdS0v-dV5EFSA&usqp=CAU" class="send"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="mascotaAñadida" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtzx6vnu6B5YHC_OrgbQZrzvdS0v-dV5EFSA&usqp=CAU" class="send"> ¡MASCOTA AÑADIDA!
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtzx6vnu6B5YHC_OrgbQZrzvdS0v-dV5EFSA&usqp=CAU" class="send"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="FRONTEND/js/utils.js"></script>
    <script src="FRONTEND/js/mascotas.js"></script>
    <script src="FRONTEND/js/Rescatistas.js"></script>
    <script src="FRONTEND/js/ajax_handler.js"></script>
    <script src="FRONTEND/js/mascotas_utils.js"></script>
    <script src="FRONTEND/js/rescatistas_utils.js"></script>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>