<!doctype html>
<html lang="en">
  <head>
    <title>Pet</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        table{
            margin: 50px;
            margin-left: auto;
            margin-right: auto;
            padding: 50px;
        }
        hr{
            border: 1px solid black;
            border-radius: 7px 7px 7px 7px;
        }
        #namePet{
            font-size: 50px;
            text-align: center;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .btn{
            margin: 30px;
            align-items: center;
        }
        tr{
            text-align: center;
        }
        .modal-title{
            margin-left: 100px;
        }
        .paw-icon{
            width: 30px;
            padding: 5px;
        }
        .send{
            width: 40px;
            animation: skew 1.5s infinite;
            transform: skew(20deg);
        }
        @keyframes skew {
            0% {transform: skewX(10deg);}
            50% {transform: skewX(30deg);}
            100% {transform: skewX(-10deg);}
        }
        #solicitudEnviada{
            top: 38%;
        }
        .form-group{
            text-align: center;
        }
    </style>
  </head>
  <body style="background-image: url(https://thumbs.dreamstime.com/b/polca-dot-paws-background-de-paw-white-silver-metallic-foil-del-perro-66964941.jpg);">

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="navbar">
        <a class="navbar-brand" href="/home">PawBook</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">
                    Mascotas <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pet">Rescatistas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-people"></i>Perfil</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#login">Ingresar</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#registro">Registarse</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div id="mainPet">

    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalAdoptar" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <img src="http://simpleicon.com/wp-content/uploads/pen-2.png" style="width: 25px;"> Compártenos sobre ti</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body">
                    <form enctype="text/plain" method="POST" action="mailto:pawbook@gmail.com?subject=Información sobre Adopción">
                        <div class="container-fluid">
                            <div class="form-group">
                                    <label for="infoCasa">
                                        <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon"> Sobre tu casa </label>
                                    <div class="input-group mb-3">
                                        <textarea name="infoCasa" rows="6" cols="50" placeholder="Tienes mas mascotas?...¿Por qué quieres adoptar?..." required></textarea>
                                    </div>
                                    
                                    <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/2124px-Paw-print.svg.png" class="paw-icon"> Tus Datos
                                    <label for="datosPersonales">
                                
                                    </label>

                                    <div class="row">
                                        <div class="col-6">
                                            <input type="text" name="nombreSolicitante " class="form-control" placeholder="Nombre(s)"
                                                aria-describedby="helpId" required>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" name="apellidosSocitante " class="form-control" placeholder="Apellidos"
                                                aria-describedby="helpId" required>
                                        </div>
                                    </div>
            
                                    <input type="mail" name="correoSolicitante " class="form-control mt-3" placeholder="Tu correo"
                                        aria-describedby="helpId" required>
            
                                    <input type="text" name="phoneSolicitante " class="form-control mt-3" placeholder="Tu teléfono"
                                        aria-describedby="helpId" required>
                                    
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <input type="submit" value="Submit application" data-toggle="modal" data-target="#solicitudEnviada" style="cursor: pointer; background-color: #4CAF50; border: none; color: white; padding: 16px 32px;">
                                </div>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>

        <!-- Modal -->
        <div class="modal fade" id="solicitudEnviada" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtzx6vnu6B5YHC_OrgbQZrzvdS0v-dV5EFSA&usqp=CAU" class="send"> MANDA LA SOLICITUD
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtzx6vnu6B5YHC_OrgbQZrzvdS0v-dV5EFSA&usqp=CAU" class="send"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

            <!-- Modal-->
            <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Ingresar</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
        
                        <div class="modal-body">
                            <form>
                                <div class="container-fluid">
                                    <div class="form-group">
                                        <label for="">Correo</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">
                                                <img src="https://cdns.iconmonstr.com/wp-content/assets/preview/2012/240/iconmonstr-pencil-14.png" style="width: 25px;">
                                                </span>
                                            </div>
                                            <input type="text" class="col-10 form-control" name="" id="correoLogin" aria-describedby="helpId"
                                                placeholder="Ingresa tu correo" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon2">
                                                    <img src="https://www.kindpng.com/picc/m/475-4751731_key-password-hd-png-download.png" style="width: 25px;">
                                                </span>
                                            </div>
                                            <input type="password" class="col-10 form-control" name="" id="contrasenaLogin"
                                                aria-describedby="helpId" placeholder="Ingresa tu contraseña" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="controls">
                                            <button type="button" class="btn btn-success btn-block" data-dismiss="modal">Login</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12 control">
                                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%; text-align: right;">
                                                No tienes cuenta!
                                                <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#registro">
                                                    Registrate aquí
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Modal -->
            <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Registrar usuario</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-6">
                                        <input type="text" name="" id="nombre" class="form-control" placeholder="Nombre(s)"
                                            aria-describedby="helpId" required>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" name="" id="apellidos" class="form-control" placeholder="Apellidos"
                                            aria-describedby="helpId" required>
                                    </div>
                                </div>
        
                                <input type="mail" name="" id="correo" class="form-control mt-3" placeholder="Tu correo"
                                    aria-describedby="helpId" required>
        
                                <input type="text" name="phone" id="phone" class="form-control mt-3" placeholder="Tu teléfono"
                                    aria-describedby="helpId" required>
        
                                <input type="date" name="fecha" id="fechaRegistro" class="form-control mt-3" placeholder="Fecha Registro"
                                    aria-describedby="helpId" required>
                                <input type="password" name="" id="contrasena" class="form-control mt-3" placeholder="Contraseña"
                                    aria-describedby="helpId" required>
        
                                <input type="password" name="" id="confirmContrasena" class="form-control mt-3"
                                    placeholder="Confirmar contraseña" aria-describedby="helpId" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required>
        
                                <button type="submit" class="btn btn-success btn-lg mt-3 btn-block">Registrarse</button>
        
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    <!-- Optional JavaScript -->
    <script src="FRONTEND/js/utils.js"></script>
    <script src="FRONTEND/js/mascotas.js"></script>
    <script src="FRONTEND/js/Rescatistas.js"></script>
    <script src="FRONTEND/js/ajax_handler.js"></script>
    <script src="FRONTEND/js/pet_utils.js"></script>
    <script src="FRONTEND/js/rescatistas_utils.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>